RewriteEngine On

# Allow existing files/folders directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise send to index.php
RewriteRule ^ index.php [QSA,L]